* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    place-items: center;
    background: #FDF4F5;
}

.calculator {
    padding: 15px;
    /* box-shadow: 0 0 15px #000; */
    border: 2px solid #5AB2FF;
    border-radius: 15px;
    background-color: #A0DEFF;
}

.display input {
    width: 280px;
    border: none;
    border-radius: 10px;
    border: 3px solid #5AB2FF;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: #fff;
    color: #313131;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    color: #fff;
}

button {
    width: 50px;
    height: 50px;
    margin: 10px;
    background: #fff;
    color: #313131;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    outline: 2px solid #5AB2FF;
    outline-offset: 3px;
    box-shadow: -5px, -6px 15px #000;
    cursor: pointer;
}

button:active {
    background: #000;
    transform: translate(2px, 2px);
}
.opr{
    color:#615EFC ;

    font-weight: 700;
}
#eqBtn{
    background-color: #313131;
    color: #FDF4F5;
    font-weight: 900;
}